# Sensitive environment variables
.env

# Dependencies
/vendor/
/composer.lock

# Local Database and Storage
/var/*.sqlite
/var/*.sqlite-journal
/var/*.sqlite-wal

# Logs
/var/logs/*.log
/public/logs/
*.log

# User Uploads (Photos/Voice notes)
/public/uploads/

# IDE files
.idea/
.vscode/

# Browser/OS files
.DS_Store
Thumbs.db
